@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Primary brand */

    --primary-lowest: #EEF2FF;
    --primary-lower: #E0E7FF;
    --primary-low: #A5B4FC;
    --primary-medium: #6366F1;
    --primary-high: #4338CA;
    --primary-higher: #312E81;
    --primary-highest: #1E1B4B;

    /* Dark primary brand */

    --dark-primary-lowest: #4F46E5;
    --dark-primary-lower: #818CF8;
    --dark-primary-low: #A5B4FC;
    --dark-primary-medium: #E0E7FF;
    --dark-primary-high: #EEF2FF;
    --dark-primary-higher: #1E1B4B;
    --dark-primary-highest: #3730A3;

    /* Secondary brand */

    --secondary-lowest: #FAF5FF;
    --secondary-lower: #F3E8FF;
    --secondary-low: #D8B4FE;
    --secondary-medium: #A855F7;
    --secondary-high: #7E22CE;
    --secondary-higher: #581C87;
    --secondary-highest: #3B0764;

    /* Dark secondary brand */

    --dark-secondary-lowest: #9333EA;
    --dark-secondary-lower: #C084FC;
    --dark-secondary-low: #D8B4FE;
    --dark-secondary-medium: #F3E8FF;
    --dark-secondary-high: #FAF5FF;
    --dark-secondary-higher: #3B0764;
    --dark-secondary-highest: #6B21A8;

    /* Success */

    --success-lowest: #ECFDF5;
    --success-lower: #D1FAE5;
    --success-low: #6EE7B7;
    --success-medium: #10B981;
    --success-high: #047857;
    --success-higher: #064E3B;
    --success-highest: #022C22;

    /* Dark success */

    --dark-success-lowest: #022C22;
    --dark-success-lower: #065F46;
    --dark-success-low: #059669;
    --dark-success-medium: #34D399;
    --dark-success-high: #6EE7B7;
    --dark-success-higher: #D1FAE5;
    --dark-success-highest: #ECFDF5;

    /* Warning */

    --warning-lowest: #FFF7ED;
    --warning-lower: #FFEDD5;
    --warning-low: #FDBA74;
    --warning-medium: #F97316;
    --warning-high: #C2410C;
    --warning-higher: #7C2D12;
    --warning-highest: #431407;

    /* Dark warning */

    --dark-warning-lowest: #431407;
    --dark-warning-lower: #9A3412;
    --dark-warning-low: #EA580C;
    --dark-warning-medium: #FB923C;
    --dark-warning-high: #FDBA74;
    --dark-warning-higher: #FFEDD5;
    --dark-warning-highest: #FFF7ED;

    /* Danger */

    --danger-lowest: #FEF2F2;
    --danger-lower: #FEE2E2;
    --danger-low: #FCA5A5;
    --danger-medium: #EF4444;
    --danger-high: #B91C1C;
    --danger-higher: #7F1D1D;
    --danger-highest: #450A0A;

    /* Dark danger */

    --dark-danger-lowest: #450A0A;
    --dark-danger-lower: #991B1B;
    --dark-danger-low: #DC2626;
    --dark-danger-medium: #F87171;
    --dark-danger-high: #FCA5A5;
    --dark-danger-higher: #FEE2E2;
    --dark-danger-highest: #FEF2F2;

    /* Neutral */

    --neutral-lowest: #FFFFFF;
    --neutral-lower: #F1F5F9;
    --neutral-low: #CBD5E1;
    --neutral-medium: #94A3B8;
    --neutral-high: #475569;
    --neutral-higher: #334155;
    --neutral-highest: #09090B;

    /* Dark neutral */

    --dark-neutral-lowest: #0F172A;
    --dark-neutral-lower: #1E293B;
    --dark-neutral-low: #475569;
    --dark-neutral-medium: #64748B;
    --dark-neutral-high: #CBD5E1;
    --dark-neutral-higher: #F1F5F9;
    --dark-neutral-highest: #FFFFFF;


}